# Core Framework
Django==5.1.4
djangorestframework==3.14.0
drf-spectacular==0.27.0
django-jazzmin==3.0.0
django-filter==24.1

# Database
psycopg2-binary==2.9.9

# Async Task Queue
celery==5.3.4
django-celery-beat==2.5.0
django-celery-results==2.5.0
kombu==5.3.5
redis==5.0.1

# Server
gunicorn==21.2.0
whitenoise==6.5.0

# Caching
django-redis==5.4.0

# Rate Limiting & CORS
django-ratelimit==4.1.0
django-cors-headers==4.3.1

# Utils
python-decouple==3.8
requests==2.31.0
