# Core Framework
Django>=5.0,<6.0
djangorestframework>=3.14,<4.0
drf-spectacular>=0.26,<1.0
django-jazzmin>=3.0,<4.0
django-filter>=24.0,<25.0

# Database
psycopg2-binary>=2.9,<3.0

# Async Task Queue
celery>=5.3,<6.0
kombu>=5.3,<6.0
redis>=5.0,<6.0

# Server
gunicorn>=21.0,<22.0
whitenoise>=6.5,<7.0

# Caching
django-redis>=5.4,<6.0

# Rate Limiting & CORS
django-ratelimit>=4.1,<5.0
django-cors-headers>=4.3,<5.0

# Utils
python-decouple>=3.8,<4.0
requests>=2.31,<3.0
Pillow>=10.0,<11.0
