{% extends 'manager/base.html' %}
{% block title %}Detail{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ model_verbose_name|title }}</h5>
    <dl class="row">
      {% for field in model_fields %}
        <dt class="col-sm-3">{{ field.verbose_name|title }}</dt>
        <dd class="col-sm-9">{{ object|attr:field.name }}</dd>
      {% endfor %}
    </dl>
    <div class="mt-3">
      <a class="btn btn-secondary" href="{% url 'manager:bookings' %}">Back</a>
      {% if can_change %}
        <a class="btn btn-outline-secondary" href="{% url 'manager:'|add:model_name|add:'_edit' object.pk %}">Edit</a>
      {% endif %}
      {% if can_delete %}
        <a class="btn btn-outline-danger" href="{% url 'manager:'|add:model_name|add:'_delete' object.pk %}">Delete</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
