{% extends 'manager/base.html' %}
{% block title %}Form{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
  <h5 class="card-title">{{ model_verbose_name|title }}</h5>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-3">
        {% if view.action == 'create' and can_add or view.action == 'update' and can_change %}
          <button class="btn btn-primary" type="submit">Save</button>
        {% endif %}
  <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER|default:'/' }}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
